motor
redis

# requirements.txt

# Core dependencies
fastapi
uvicorn[standard]
python-multipart
pydantic
python-dotenv

# Celery and task queue
celery[redis]
redis
flower
kombu

# Video processing
ffmpeg-python
faster-whisper
openai
# TTS engines
gtts
murf

# Cloud storage
# google-api-python-client
# google-oauth
# google-auth>=2.15.0
# google-auth-oauthlib
# google-auth-httplib2
# google-api-python-client
boto3


pymongo
motor # Async MongoDB driver

# AI/ML
azure-identity
tiktoken

# Utilities
aiohttp
aiofiles
requests
numpy

# Monitoring and logging
prometheus-client
sentry-sdk

# Testing (optional, for development)
pytest
pytest-asyncio
pytest-cov

pydantic-settings

pillow

# auth
PyJWT==2.10.1
bcrypt==4.3.0
email-validator==2.3.0